.top-form{
	-fx-background-color: #fff;
	-fx-border-color:#000;
	-fx-border-width:0.4px 0.4px 0.2px 0.4px;
}
.semi-top-form{
	-fx-background-color: #efefef;
	-fx-border-color:#000;
	-fx-border-width:0.2px 0.4px 0.8px 0.4px;
}

.close{
	-fx-background-color: transparent;
	-fx-cursor: hand;
	
}

.close:hover{
	-fx-background-color: red;
	
}
.minimize{
	-fx-background-color: transparent;
	-fx-cursor: hand;
}
.minimize:hover{
	-fx-background-color: #ddd;
}



.nav-form{
	
	-fx-background-color: linear-gradient( to bottom right, #125e7c, #561139);
	-fx-border-color: #000;
}
.nav-btn{
	-fx-background-color: transparent;
	-fx-cursor: hand;
	-fx-font-family:"Arial";
	-fx-font-size:14;
	-fx-text-fill:#fff;
	-fx-alignment: center-left ;
	
}
.login{
	-fx-background-color:#219a6a;
	-fx-background-radius:10px;
	-fx-cursor:hand;
}
.login:hover{
	-fx-background-color:#18a383;
	
}
.shadow{
	-fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.5), 6,0,0,0) 
}
.white-bg{
	-fx-background-color:white;
	-fx-background-radius:8px;
}
.card{
	-fx-background-color:linear-gradient(to bottom , #379fac, #434a57);
	-fx-background-radius:5px;
}
.transparent{
	-fx-backfround-color:transparent;
}