
.card{
	-fx-background-color: #fff;
	-fx-background-radius: 5.0px;
	
}
.shadow{
	-fx-effect: dropshadow(two-pass-box, rgba(0.0,0.0,0.0,0.5), 5.0,0.0,0.0,0.0); 
}
.btn{
	-fx-background-color: #125e55;
	-fx-cursor:hand ;
	-fx-text-fill:#fff;
	
	
}
.btn:hover{
    -fx-background-color: linear-gradient(to bottom right, #0f8774, #399a8f); 
}